<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neusoft.my12603">
<uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".my.MyAccountActivity"></activity>
        <activity android:name=".my.MyContactActivity"></activity>
        <activity android:name=".my.MyPasswordActivity"></activity>
        <activity android:name=".my.MyContactNewActivity"></activity>
        <activity android:name=".my.MyContactActivity"></activity>
        <activity android:name=".my.MyContactEditActivity"></activity>
        <activity android:name=".order.NoOrderActivity"></activity>
        <activity android:name=".order.OrderActivity"></activity>
        <activity android:name=".stationlist.StationListActivity"></activity>
        <activity android:name=".ticket.TicketStep1Activity"></activity>
        <activity android:name=".ticket.TicketStep2Activity"></activity>
        <activity android:name=".ticket.TicketStep3Activity"></activity>
        <activity android:name=".ticket.TicketListStep3"></activity>
        <activity android:name=".ticket.TicketOrderStep3"></activity>
        <activity android:name=".ticket.TicketPaySuccess"></activity>
    </application>

</manifest>